aside {
    display: inline;
    float: left;
    width: 20%;
}

main {
    display: inline;
    float: left;
    width: 70%;
}

img {
    padding-bottom: 2px;
}

#currentUV {
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 576px) {
    aside {
        width: 90%
    }

    main {
        width: 90%
    }

    .fiveDayCard {
        padding-top: 5px;
        padding-bottom: 5px;
    }
  }